name: Laravel CI/CD

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Build Docker container
      run: docker build -t laravel-app .

    - name: Run migrations in Docker
      run: docker run --rm -v ${{ github.workspace }}:/var/www/html laravel-app php artisan migrate --force

    - name: Prepare storage in Docker
      run: docker run --rm -v ${{ github.workspace }}:/var/www/html laravel-app bash -c "php artisan config:clear && php artisan cache:clear && php artisan route:clear && php artisan view:clear && chmod -R 777 storage bootstrap/cache"

    - name: Run tests in Docker
      run: docker run --rm -v ${{ github.workspace }}:/var/www/html laravel-app ./vendor/bin/pest


  deploy:
    runs-on: ubuntu-latest
    needs: test

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Deploy to droplet via SSH
      uses: appleboy/ssh-action@v0.1.7
      with:
        host: ${{ secrets.SERVER_IP }}
        username: ${{ secrets.SERVER_USER }}
        key: ${{ secrets.SERVER_SSH_KEY }}
        port: 22
        script: |
          cd /var/www/your-app
          git pull origin main
          docker-compose down
          docker-compose up -d --build
